
/* Added this html and body styling to help with sticking the footer*/
html {
    height: 100%;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/* Footer styling continued, margin-top is key component to make footer stick to bottom */
footer {
    margin-top: auto;
    text-align: center;
    line-height: 60px;
    background-color: rgb(31, 31, 31);
    color: rgb(199, 199, 199);
}
/* About Me image specific styling to dictate sizing and widths */
#aboutMeImg {
    padding: 0em 1em 1em 0em;
    max-width: 250px;
}
/* this helps to style the Portfolio page images between headers and corresponding text */
.gallery {
    padding: 1em 0em 2em 0em;
}