{{>header}}
{{!-- Insert sub header for add project --}}
<div class="container">
    <div class="row">
        <div class="col-sm-1 col-md-2 col-lg-3"></div>
        {{!-- Default view needs a button to add a project, to list all projects and have buttons to edit or delete each project --}}
        <ul class="list-group col-sm-10 col-md-8 col-lg-6">
            <li class="list-group-item list-group-item-dark d-flex justify-content-between">
                <a class="font-weight-bold">Portfolio Projects</a>
                <a class="btn btn-success btn-sm" href="/add-project">Add Project</a>
            </li>
            {{#each project}}
            <li class="list-group-item d-flex justify-content-between">
                <a>{{this.title}}</a>
                <div>
                    <a class="btn btn-light btn-sm editProj" href="/edit/{{this.id}}">Edit</a>
                    <button type="button" class="btn btn-danger btn-sm delProj" data-id="{{this.id}}">Delete</button>
                </div>
            </li>
            {{/each}}
        </ul> {{!-- End of group --}}
        <div class="col-sm-1 col-md-2 col-lg-3"></div>
    </div>
</div>
<br>