{{>header}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Contact</h1>
            <p>Text: 1|856|343|7875</p>
            <p>titolopez44@yahoo.com</p>
            <p><a href="https://www.linkedin.com/in/ejlopez44/" target="_blank">Visit my LinkedIn
                    Profile</a></p>
        </div>
    </div>
</div>